\
name: Build PDF
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc texlive-latex-base texlive-latex-recommended texlive-fonts-recommended texlive-latex-extra
      - name: Build
        run: pandoc index.md --from markdown+tex_math_dollars --pdf-engine=pdflatex --citeproc --bibliography=refs.bib --csl=ieee.csl --metadata-file=meta.yaml --template=template-basic.tex -o proposal.pdf
      - uses: actions/upload-artifact@v4
        with:
          name: proposal
          path: proposal.pdf
